<div class="well">
  <div class="row">
    <div class="col-md-8 image-tile">
      <img class="img-responsive" src="{{post.imageFeature}}" alt="{{post.title}}" />
    </div>
    <div class="col-md-4 content-tile">
      <h2>{{post.title}}</h2>
      <h4>{{post.author}}, <small>{{moment-from-now post.timestamp}}</small>.</h4>
      {{post.teaser}}
    </div>
  </div>
</div>
