<div class="well">
  <div class="row">
    <div class="col-md-7 image-tile">
      <img class="img-responsive" src="{{post.imageFeature}}" alt="{{post.title}}" />
    </div>
    <div class="col-md-5 content-tile">
      <h2>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</h2>
      <h4>{{post.author}}, <small>{{moment-from-now post.timestamp}}</small>.</h4>
      {{post.teaser}}
    </div>
  </div>
</div>
